In [2]:
import pandas as pd

In [5]:
data = pd.read_csv('C:/Users/devdi/Desktop/CMU/Final Mini/Python for Data Science/Project/TripAdvisor_Data.csv')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18000 entries, 0 to 17999
Data columns (total 28 columns):
Restaurant ID         18000 non-null object
Restaurant URL        17994 non-null object
Name                  17991 non-null object
Address               17978 non-null object
Phone                 15566 non-null object
City                  17004 non-null object
State                 17993 non-null object
Country               17996 non-null object
Neighbourhood         650 non-null object
Email ID              858 non-null object
Menu                  0 non-null float64
Website               8576 non-null object
Latitude              17442 non-null float64
Longitude             17442 non-null float64
About Restaurant      937 non-null object
Cuisine               7553 non-null object
Good for(suitable)    1199 non-null object
Price                 1704 non-null object
Currency              1701 non-null object
Rating                8 non-null object
Ranking               10133 non-null object
Deal(Promotion)       0 non-null float64
Total Review          10661 non-null float64
Last Reviewed         10494 non-null object
Recommended           0 non-null float64
Dining Option         2199 non-null object
Award                 718 non-null object
Uniq Id               18000 non-null object
dtypes: float64(6), object(22)
memory usage: 3.8+ MB

In [9]:
cleaned_data = data[data["City"]=="Miami"]

In [10]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1248 entries, 12692 to 17203
Data columns (total 28 columns):
Restaurant ID         1248 non-null object
Restaurant URL        1248 non-null object
Name                  1248 non-null object
Address               1247 non-null object
Phone                 1174 non-null object
City                  1248 non-null object
State                 1248 non-null object
Country               1248 non-null object
Neighbourhood         110 non-null object
Email ID              70 non-null object
Menu                  0 non-null float64
Website               546 non-null object
Latitude              1240 non-null float64
Longitude             1240 non-null float64
About Restaurant      76 non-null object
Cuisine               383 non-null object
Good for(suitable)    76 non-null object
Price                 136 non-null object
Currency              136 non-null object
Rating                0 non-null object
Ranking               613 non-null object
Deal(Promotion)       0 non-null float64
Total Review          643 non-null float64
Last Reviewed         639 non-null object
Recommended           0 non-null float64
Dining Option         138 non-null object
Award                 43 non-null object
Uniq Id               1248 non-null object
dtypes: float64(6), object(22)
memory usage: 282.8+ KB

In [11]:
cleaned_data = cleaned_data.loc[:,["Restaurant ID", "Restaurant URL","Name","Address","Ranking","Total Review"]]

In [13]:
cleaned_data.head()

,Restaurant ID,Restaurant URL,Name,Address,Ranking,Total Review
12692,3397231,http://www.tripadvisor.in/Restaurant_Review-g3...,El Malecon Restaurant,"5791 SW 137th avenue, Miami, FL","1,593 of 3,600",6.0
12693,4178105,http://www.tripadvisor.in/Restaurant_Review-g3...,Met Cafe and Bar,"255 Biscayne Boulevard Way, Hotel Beaux Arts M...","778 of 3,600",10.0
12694,4181598,http://www.tripadvisor.in/Restaurant_Review-g3...,Pollo Tropical,"8700 SW 40th St, Miami, FL 33165",NaN,NaN
12696,935499,http://www.tripadvisor.in/Restaurant_Review-g3...,Oriental Bakery & Grocery Co,"1760 SW 3rd Ave, Miami, FL 33129-1415","990 of 3,600",3.0
12697,4207564,http://www.tripadvisor.in/Restaurant_Review-g3...,El Nopal,"22605 S Dixie Hwy, Miami, FL 33170",NaN,NaN

In [17]:
path = r"C:/Users/devdi/Desktop/CMU/Final Mini/Python for Data Science/Project/Data.xlsx"
writer = pd.ExcelWriter(path, engine = 'xlsxwriter')
data.to_excel(writer, sheet_name = 'TripAdvisor_raw')
cleaned_data.to_excel(writer, sheet_name = 'TripAdvisor_clean')
writer.save()
writer.close()

C:\Users\devdi\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:830: UserWarning: Ignoring URL 'http://epc7.domaingateway.com/c?pid=11163370-367280&kw=writing restaurant reviews&c=ad3f7cf9c0b14d06a873a2f707811dfa-wuu.kf.3k.w3S%0972atQI%2FwU.f.3ws.kw+%28s.F.k.w%2C+aWA0+s.w.s+%28sfwk-fS-fu%29%29%09wkfwskswS4Uw4%09s4U%09A0%09zWLXIL2jWNIL%092vvRN%3A%2F%2FRw.oLvaEH.EtQ%2Fva%3Fqo%3DFUusuj33wSUEwEUuISIA33wAossOjsoOwOj4SSEI.a%09%5BLWii%5D%09f.fwUw%09f.fwUw%09%5BLWii%5D%09OjiNI%09Fkf%09wfS344ku4u%099TmhgD%09%5BLWii%5D%09aIQqLzvtLNtOAtNvtL.EtQ%09f%09w3s.wUu.f.w3k%09%5BLWii%5D%09%5BLWii%5D%09wkw%7Ewkw%094SSjuF3E-E3S4-kEff-jFUU-So4oF3kkouU3%09%5BLWii%5D%09&r=1&ptt=' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\devdi\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:830: UserWarning: Ignoring URL 'http://local.subway.com/fwpcons/frmResult.aspx?ResultMsg=%3cfont%20size='6'%3eOops!%3c/font%3e%3cbr/%3eWe're%20sorry,%20the%20page%20you%20are%20looking%20for%20is%20either%20not%20found%20or%20has%20generated%20this%20error.%20%20If%20this%20occurs%20regularly,%20please%20contact%20the%20SUBWAY%20%20Web%20Team.&Error=1' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\devdi\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:830: UserWarning: Ignoring URL 'http://maps.google.com/maps/place?oe=utf-8&rls=org.mozilla:en-US:official&client=firefox-a&um=1&ie=UTF-8&q=the%20viking%20tavern%20spokane%20wa&fb=1&gl=us&hq=the%20viking%20tavern&hnear=0x549e185c30bbe7e5:0xddfcc9d60b84d9b1,Spokane,%20WA&cid=7286429845809543666&ei=UEtuToOxFaLjiALM7rSgDg&sa=X&oi=local_result&ct=placepage-link&resnum=1&ved=0CB8Q4gkwAA' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))
C:\Users\devdi\Anaconda3\lib\site-packages\xlsxwriter\worksheet.py:830: UserWarning: Ignoring URL 'http://www.hojo.com/hotels/florida/hialeah-gardens/howard-johnson-plaza-hotel-miami-airport/hotel-dining?partner_id=&hotel_id=14809&campaign_code=&propId=HJ14809&checkout_date&brand_id=HJ&children=0&corporate_id&ratePlan&teens=0&affiliate_id=&iata=&rate_code&adults=1&checkin_date&rooms=1' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))